# Copy to /home/.env on Ubuntu server and adjust values.

# Camera #1 (Kurokesu C3 4K)
CAM1_DEVICE=/dev/video0
CAM1_RES=1920x1080
CAM1_FPS=25
CAM1_GOP=30
CAM1_THREAD_QUEUE=1024

# Camera #2 (NVECTECH PATRIOT 2 H50)
# Try /dev/video2 or /dev/video3 based on v4l2 probe.
CAM2_DEVICE=/dev/video2
CAM2_CONTROL_DEVICE=/dev/video2
CAM2_INPUT_FORMAT=mjpeg
CAM2_RES=1024x768
CAM2_FPS=30
CAM2_GOP=30
CAM2_THREAD_QUEUE=1024
CAM2_ANALYZE_DURATION=100M
CAM2_PROBE_SIZE=100M

# PTZ service
PTZ_SERIAL=/dev/ttyACM0
PTZ_BAUD=115200
PTZ_USER=admin
PTZ_PASS=admin
